MP3-Player
"Repeat One"
"Repeat List"
"Repeat All"
"Shuffle List"
"Shuffle All"
"Save Own Playlists"
Queue
"Drag & Drop Behaviour"
Equalizer
Presets
"Internet Radio"
"Fetch Lyrics"
"Fetch Missing Metadata"
Devices
Stores
Search
"Save Audio Playback"
"Sort Music By Genre"
"Music Rating"
Skins
"Explore New Music"
"Support Video Files"
"Audio Tweaks"
Fade-In/Fade-Out
Crossfading
"Cut Silence"
"Rename Titles In List"
"YouTube Integration"
